node_modules/
**/node_modules/

dist/
**/dist/
coverage/
.turbo/
**/.turbo/

.env
.env.*
!.env.example

.DS_Store
*.log

storage/media/
**/storage/media/
storage/sessions/*
**/storage/sessions/*
!storage/sessions/.gitkeep
!**/storage/sessions/.gitkeep

packages/database/prisma/generated/
